* {
    margin: 0;
    padding: 0;
}


.bg-red {
    padding: 50px;
    background-color: linen;
    position: relative;
    top: 0;
}

.bg-blue {

    padding: 50px;
    background-color: lightblue;

}

body {
    background: linear-gradient(135deg, lightblue, lightgreen);
    height: 200vh;

}

nav ul {
    list-style: none;
    display: flex;

}