body {

    background-color: rgb(208, 220, 77);
}

nav {
    background-color: rgb(77, 220, 208);
}

nav ul {
    display: flex;
    gap: .75rem;
    list-style: none;
}

.container {
    background-color: rgb(220, 77, 208);
}

#main {
    background-color: rgb(26, 255, 0);
}